More testing/ClientTest/ClientTest/Service References/MonsterFeastService/MonsterFeastService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MonsterFeastService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MonsterFeastService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="Character" nillable="true" type="tns:Character" />
      <xs:element minOccurs="0" name="Loses" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Wins" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="Character">
    <xs:sequence>
      <xs:element minOccurs="0" name="Agility" type="xs:int" />
      <xs:element minOccurs="0" name="AttributePoints" type="xs:int" />
      <xs:element minOccurs="0" name="CharClass" type="tns:CharClass" />
      <xs:element minOccurs="0" name="Constitution" type="xs:int" />
      <xs:element minOccurs="0" name="Dexterity" type="xs:int" />
      <xs:element minOccurs="0" name="Element" type="tns:Element" />
      <xs:element minOccurs="0" name="Experience" type="xs:int" />
      <xs:element minOccurs="0" name="Level" type="xs:int" />
      <xs:element minOccurs="0" name="Magic" type="xs:int" />
      <xs:element minOccurs="0" name="Strength" type="xs:int" />
      <xs:element minOccurs="0" name="Wisdom" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Character" nillable="true" type="tns:Character" />
  <xs:simpleType name="CharClass">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Warrior" />
      <xs:enumeration value="Mage" />
      <xs:enumeration value="Archer" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CharClass" nillable="true" type="tns:CharClass" />
  <xs:simpleType name="Element">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Water" />
      <xs:enumeration value="Fire" />
      <xs:enumeration value="Air" />
      <xs:enumeration value="Earth" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Element" nillable="true" type="tns:Element" />
  <xs:simpleType name="Attribute">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Strength" />
      <xs:enumeration value="Constitution" />
      <xs:enumeration value="Magic" />
      <xs:enumeration value="Wisdom" />
      <xs:enumeration value="Agility" />
      <xs:enumeration value="Dexterity" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Attribute" nillable="true" type="tns:Attribute" />
  <xs:complexType name="Skill">
    <xs:sequence>
      <xs:element minOccurs="0" name="Effect" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Element" type="tns:Element" />
      <xs:element minOccurs="0" name="PowerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Skill" nillable="true" type="tns:Skill" />
</xs:schema>