MonsterFeastClient - MVVM/MonsterFeastClient/Service References/MonsterFeastService/MonsterFeastContract.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="MonsterFeastContract" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="MonsterFeastContract" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="MonsterFeastContract/Imports">
      <xsd:import namespace="MonsterFeastContract" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MonsterFeastService" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGame_attack_InputMessage">
    <wsdl:part name="parameters" element="tns:attack" />
  </wsdl:message>
  <wsdl:message name="IGame_attack_OutputMessage">
    <wsdl:part name="parameters" element="tns:attackResponse" />
  </wsdl:message>
  <wsdl:message name="IGame_usePoint_InputMessage">
    <wsdl:part name="parameters" element="tns:usePoint" />
  </wsdl:message>
  <wsdl:message name="IGame_usePoint_OutputMessage">
    <wsdl:part name="parameters" element="tns:usePointResponse" />
  </wsdl:message>
  <wsdl:message name="IGame_giveUp_InputMessage">
    <wsdl:part name="parameters" element="tns:giveUp" />
  </wsdl:message>
  <wsdl:message name="IGame_giveUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:giveUpResponse" />
  </wsdl:message>
  <wsdl:message name="IGame_sendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:sendMessage" />
  </wsdl:message>
  <wsdl:message name="IGame_sendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ILobby_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="ILobby_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ILobby_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ILobby_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ILobby_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="ILobby_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="ILobby_isFirstTime_InputMessage">
    <wsdl:part name="parameters" element="tns:isFirstTime" />
  </wsdl:message>
  <wsdl:message name="ILobby_isFirstTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:isFirstTimeResponse" />
  </wsdl:message>
  <wsdl:message name="ILobby_FindMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:FindMatch" />
  </wsdl:message>
  <wsdl:message name="ILobby_FindMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindMatchResponse" />
  </wsdl:message>
  <wsdl:message name="ILobby_AllocateAttribute_InputMessage">
    <wsdl:part name="parameters" element="tns:AllocateAttribute" />
  </wsdl:message>
  <wsdl:message name="ILobby_AllocateAttribute_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllocateAttributeResponse" />
  </wsdl:message>
  <wsdl:message name="ILobby_SubscribeMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeMatch" />
  </wsdl:message>
  <wsdl:message name="ILobby_SubscribeMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeMatchResponse" />
  </wsdl:message>
  <wsdl:message name="ILobby_UnSubscribeMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:UnSubscribeMatch" />
  </wsdl:message>
  <wsdl:message name="ILobby_UnSubscribeMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnSubscribeMatchResponse" />
  </wsdl:message>
  <wsdl:message name="ILobby_SubscribeListPlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeListPlayers" />
  </wsdl:message>
  <wsdl:message name="ILobby_SubscribeListPlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeListPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="ILobby_UnSubscribeListPlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:UnSubscribeListPlayers" />
  </wsdl:message>
  <wsdl:message name="ILobby_UnSubscribeListPlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnSubscribeListPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="ILobby_getOnlinePlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:getOnlinePlayers" />
  </wsdl:message>
  <wsdl:message name="ILobby_getOnlinePlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOnlinePlayersResponse" />
  </wsdl:message>
  <wsdl:message name="ILobby_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="ILobby_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ILobby_SubscribeChatBox_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeChatBox" />
  </wsdl:message>
  <wsdl:message name="ILobby_SubscribeChatBox_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeChatBoxResponse" />
  </wsdl:message>
  <wsdl:message name="ILobby_UnSubscribeChatBox_InputMessage">
    <wsdl:part name="parameters" element="tns:UnSubscribeChatBox" />
  </wsdl:message>
  <wsdl:message name="ILobby_UnSubscribeChatBox_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnSubscribeChatBoxResponse" />
  </wsdl:message>
  <wsdl:message name="ILobby_updateChatBox_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:updateChatBox" />
  </wsdl:message>
  <wsdl:portType name="IGame">
    <wsdl:operation name="attack">
      <wsdl:input wsaw:Action="MonsterFeastContract/IGame/attack" message="tns:IGame_attack_InputMessage" />
      <wsdl:output wsaw:Action="MonsterFeastContract/IGame/attackResponse" message="tns:IGame_attack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="usePoint">
      <wsdl:input wsaw:Action="MonsterFeastContract/IGame/usePoint" message="tns:IGame_usePoint_InputMessage" />
      <wsdl:output wsaw:Action="MonsterFeastContract/IGame/usePointResponse" message="tns:IGame_usePoint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="giveUp">
      <wsdl:input wsaw:Action="MonsterFeastContract/IGame/giveUp" message="tns:IGame_giveUp_InputMessage" />
      <wsdl:output wsaw:Action="MonsterFeastContract/IGame/giveUpResponse" message="tns:IGame_giveUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendMessage">
      <wsdl:input wsaw:Action="MonsterFeastContract/IGame/sendMessage" message="tns:IGame_sendMessage_InputMessage" />
      <wsdl:output wsaw:Action="MonsterFeastContract/IGame/sendMessageResponse" message="tns:IGame_sendMessage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ILobby">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="MonsterFeastContract/ILobby/Register" message="tns:ILobby_Register_InputMessage" />
      <wsdl:output wsaw:Action="MonsterFeastContract/ILobby/RegisterResponse" message="tns:ILobby_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="MonsterFeastContract/ILobby/Login" message="tns:ILobby_Login_InputMessage" />
      <wsdl:output wsaw:Action="MonsterFeastContract/ILobby/LoginResponse" message="tns:ILobby_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="MonsterFeastContract/ILobby/Logout" message="tns:ILobby_Logout_InputMessage" />
      <wsdl:output wsaw:Action="MonsterFeastContract/ILobby/LogoutResponse" message="tns:ILobby_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isFirstTime">
      <wsdl:input wsaw:Action="MonsterFeastContract/ILobby/isFirstTime" message="tns:ILobby_isFirstTime_InputMessage" />
      <wsdl:output wsaw:Action="MonsterFeastContract/ILobby/isFirstTimeResponse" message="tns:ILobby_isFirstTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindMatch">
      <wsdl:input wsaw:Action="MonsterFeastContract/ILobby/FindMatch" message="tns:ILobby_FindMatch_InputMessage" />
      <wsdl:output wsaw:Action="MonsterFeastContract/ILobby/FindMatchResponse" message="tns:ILobby_FindMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllocateAttribute">
      <wsdl:input wsaw:Action="MonsterFeastContract/ILobby/AllocateAttribute" message="tns:ILobby_AllocateAttribute_InputMessage" />
      <wsdl:output wsaw:Action="MonsterFeastContract/ILobby/AllocateAttributeResponse" message="tns:ILobby_AllocateAttribute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeMatch">
      <wsdl:input wsaw:Action="MonsterFeastContract/ILobby/SubscribeMatch" message="tns:ILobby_SubscribeMatch_InputMessage" />
      <wsdl:output wsaw:Action="MonsterFeastContract/ILobby/SubscribeMatchResponse" message="tns:ILobby_SubscribeMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnSubscribeMatch">
      <wsdl:input wsaw:Action="MonsterFeastContract/ILobby/UnSubscribeMatch" message="tns:ILobby_UnSubscribeMatch_InputMessage" />
      <wsdl:output wsaw:Action="MonsterFeastContract/ILobby/UnSubscribeMatchResponse" message="tns:ILobby_UnSubscribeMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeListPlayers">
      <wsdl:input wsaw:Action="MonsterFeastContract/ILobby/SubscribeListPlayers" message="tns:ILobby_SubscribeListPlayers_InputMessage" />
      <wsdl:output wsaw:Action="MonsterFeastContract/ILobby/SubscribeListPlayersResponse" message="tns:ILobby_SubscribeListPlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnSubscribeListPlayers">
      <wsdl:input wsaw:Action="MonsterFeastContract/ILobby/UnSubscribeListPlayers" message="tns:ILobby_UnSubscribeListPlayers_InputMessage" />
      <wsdl:output wsaw:Action="MonsterFeastContract/ILobby/UnSubscribeListPlayersResponse" message="tns:ILobby_UnSubscribeListPlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOnlinePlayers">
      <wsdl:input wsaw:Action="MonsterFeastContract/ILobby/getOnlinePlayers" message="tns:ILobby_getOnlinePlayers_InputMessage" />
      <wsdl:output wsaw:Action="MonsterFeastContract/ILobby/getOnlinePlayersResponse" message="tns:ILobby_getOnlinePlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="MonsterFeastContract/ILobby/SendMessage" message="tns:ILobby_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="MonsterFeastContract/ILobby/SendMessageResponse" message="tns:ILobby_SendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeChatBox">
      <wsdl:input wsaw:Action="MonsterFeastContract/ILobby/SubscribeChatBox" message="tns:ILobby_SubscribeChatBox_InputMessage" />
      <wsdl:output wsaw:Action="MonsterFeastContract/ILobby/SubscribeChatBoxResponse" message="tns:ILobby_SubscribeChatBox_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnSubscribeChatBox">
      <wsdl:input wsaw:Action="MonsterFeastContract/ILobby/UnSubscribeChatBox" message="tns:ILobby_UnSubscribeChatBox_InputMessage" />
      <wsdl:output wsaw:Action="MonsterFeastContract/ILobby/UnSubscribeChatBoxResponse" message="tns:ILobby_UnSubscribeChatBox_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateChatBox">
      <wsdl:output wsaw:Action="MonsterFeastContract/ILobby/updateChatBox" message="tns:ILobby_updateChatBox_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>